RewriteEngine On
RewriteRule (^|/)files(/|$) - [F,L]
RewriteRule (^|/)img(/|$) - [F,L]
RewriteRule \.(py|pem|json|sh|wav)$ - [F,L]

Options +FollowSymLinks -MultiViews
RewriteBase /

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+).php
RewriteRule ^ %1 [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)/\s
RewriteRule ^ %1 [R=301,L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]